body {
    background: #33414c;
    padding: 0;
    margin: 0;
}

	/* Header */

header {
	background-color: #333333;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}

.logo {
    margin-left: 100px;
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    
}

    /* ===Nav=== */

.nav {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    align-content: center;
    margin-right: 100px;
}

.nav__link {
    margin-left: 40px;
    color: silver;
    text-decoration: none;
    opacity: 0.6;
    transition:  opacity 0.2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

#active {
    opacity: 1;
}

	/* === === */

aside, section {
	display: grid;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

aside {
	background-color: #808080;
	color: #fff;
	width: 20%;
	float: right;
	
}
.aside_content {
	background: none;
	align-items: center;
}

section {
	background-color: #fff;
	width: 80%;
	height: 800px;
}

h1 {
	text-align: center;
}

.main_text {
	margin-left: 50px;
	margin-right: 50px;
}

footer {
	background-color: #333333;
	color: silver;
	justify-content: center;
	height:100px;
	font-size: 40px;
	align-items: center;
	display: flex;
}

.photo-gallery {
	background-color: lime;
}

.photo-gallery li {
	background-color: purple;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
}

.video-gallery {
	background-color: lime;
}

.video-gallery li {
	background-color: purple;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	width: 45%;
}